<p class="block">Everything is derived from <a href="https://data.cms.gov/widgets/hsg2-yqzz">COVID 19 - Nursing Home Data - Test Positivity Rates</a></p>
        
<p class="block">You can find the data <a href="https://data.cms.gov/widgets/hsg2-yqzz">here</a> and on primer <a href="https://data.cms.gov/Special-Programs-Initiatives-COVID-19-Nursing-Home/COVID-19-Nursing-Home-Data-Test-Positivity-Rates/hsg2-yqzz">here</a>. In both cases it is a zip file and not very useful. You can download the up to date zip file <a href="https://data.cms.gov/download/hsg2-yqzz/application%2Fzip">here</a></p>
        
<p class="block">The code for this site is posted on <a href="https://github.com/harperreed/cms-ltc">github</a>. This is all a hack</p>

<p class="block">Feel free to send me an email: <a href="mailto:harper@modest.com">harper@modest.com</a></p>